form.appointment-form(action="javascript:void(0);", method='')
	
	input.appointment-form__input.input(
		type="text", 
		name='data', 
		value='', 
		placeholder='Дата'
	)
	
	input.appointment-form__input.input(
		type="text", 
		name='time', 
		value='', 
		placeholder='Время'
	)
	
	input.appointment-form__input.input(
		type="text", 
		name='name', 
		value='', 
		placeholder='Ваше имя'
	)
	
	input.appointment-form__input.input(
		type="tel", 
		name='phone', 
		value='', 
		placeholder='Телефон'
	)
	
	button.appointment-form__btn.button(type='submit') Отправить