form.appointment-form(action="javascript:void(0);", method='')
	.appointment-form__input
		input.input(
			type="text", 
			name='data', 
			value='', 
			placeholder='Дата'
		)
	.appointment-form__input
		input.input(
			type="text", 
			name='time', 
			value='', 
			placeholder='Время'
		)
	.appointment-form__input
		input.input(
			type="text", 
			name='name', 
			value='', 
			placeholder='Ваше имя'
		)
	.appointment-form__input
		input.input(
			type="tel", 
			name='phone', 
			value='', 
			placeholder='Телефон'
		)
	
	button.appointment-form__btn.button(type='submit') Отправить